/* ==========================================================================
   Jansbury CSS Reset
   ========================================================================== */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
html,body {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}

/* ==========================================================================
   Standard CSS
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Font Face
   ========================================================================== */
   
   @font-face {
    font-family: 'champagne-reg';
    src: url('../fonts/champagne_limousines-webfont.eot');
    src: url('../fonts/champagne_limousines-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/champagne_limousines-webfont.woff') format('woff'),
         url('../fonts/champagne_limousines-webfont.ttf') format('truetype'),
         url('../fonts/champagne_limousines-webfont.svg#champagne__limousinesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* ==========================================================================
  	PRELOAD ME
   ========================================================================== */

#preloader {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#dbdbdb;
    z-index:99;  
}
#loader {
   width: 200px;
	height: 400px;
	position: absolute;
	left: 50%;
	right: 50%;
	background: url("../i/logoLoad.svg") no-repeat center, url("../i/loader.gif") no-repeat center 242px;
	margin: -100px 0 0 -100px;
}
/* ==========================================================================
  	SPAN CLASSES
   ========================================================================== */

.red{color: #CC6633;}
.upper{		
	font-family:'champagne-reg', helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: .2em;
}
.atitle{font-family:'champagne-reg', helvetica, arial, sans-serif;font-size: 1em;letter-spacing: .1em;}
.left{float: left;}
.right{float: right;}
.price{color: #3e3e3e;}

/* =============================================== Overall Styles */

p{padding: 3px 2px 2px;}
a{color:#CC6633;text-decoration: none}
a:hover{color: #CC6633;}
a:visited{color:#CC6633;}

body{background-color: #dbdbdb;color:#3e3e3e;font-family: 'HelveticaNeue-Light', "Helvetica Neue Light", "Helvetica Neue", "Helvetica", Arial, sans-serif;}
.cntr{margin: 0 auto;width: 100%;max-width: 640px;}

/* ==========================================================================
  	HEADER
   ========================================================================== */
.m-Header{
	border-bottom: 4px solid #CBD48B;
	padding: .5em 0;
	height:40px;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: #ededed;
}
.m-Logo{float: left;margin:0 0 0 17px;}
.m-Logo img{width: 160px;}
.m-Callus{
	float: right;
	margin: 6px 25px 0 0;
	width: 40px;
	height: 29px;
	background: url('../i/phoneIcon.svg') no-repeat 0px 0px;
}
.m-Callus:hover,.slideMenu:hover{
	-webkit-box-shadow: inset 0px 0px 20px 3px #ededed;
	box-shadow: inset 0px 0px 20px 3px #ededed;
}
.slideMenu:hover{
	box-shadow: inset 0px 0px 5px 3px #ededed;
	-webkit-box-shadow: inset 0px 0px 5px 3px #ededed;
	-moz-box-shadow:inset 0px 0px 5px 3px #ededed;
	-ms-box-shadow:inset 0px 0px 5px 3px #ededed;
	-o-box-shadow:inset 0px 0px 5px 3px #ededed;
}
.slideMenu{float: right;margin: 6px 20px 0 0;width: 38px;height: 29px;background: url("../i/menuIcon.svg") no-repeat center center;}

/* ==========================================================================
  	NAV
   ========================================================================== */
   
nav.m-Nav li a{
	font-family:'champagne-reg', helvetica, arial, sans-serif;
	color: #3e3e3e;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.375em;
	padding: 25px 5px;
	display: inline-block;
	width: 10.5em;
}
/* nav.m-Nav li a:hover{box-shadow: inset 0px 9px 45px -33px #3e3e3e,inset 1px -6px 32px -23px #3e3e3e;} */
nav.m-Nav li{overflow: hidden;text-align: right;border-bottom: 1px solid #e3e3e3;}
.des,.thi,.hot,.pac,.cal,.ema{
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	overflow: hidden;
	margin: -19px 0 0 8px;
	float: left;
	position: absolute;
}
.des{background: url('../i/icons.svg') -10px -7px;}
.thi{background: url('../i/icons.svg') -10px -70px;}
.hot{background: url('../i/icons.svg') -10px -133px;}
.pac{background: url('../i/icons.svg') -10px -196px;}
.cal{background: url('../i/icons.svg') -9px -254px;}
.ema{background: url('../i/icons.svg') -9px -314px;}
.m-Content{}
.m-pageTitle{
	background-color: #ededed;
	width: 96%;
	height: 25px;	
	margin: 10px auto;
	font-family:'champagne-reg', helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: .2em;
}
.m-pageTitlePre{padding:1px 0 0 5px;}
.m-pageTitle::after{
	content: "";
	position: absolute;
	border-width: 8px 5px 0;
	border-style: solid;
	border-color: #ededed transparent;
	display: block;
	width: 0;
	margin: 1px 0 0 15px;
}

/* ==========================================================================
  	PACKAGES PREVIEW
   ========================================================================== */

.m-packagePreCon{
	border-bottom: 3px solid #bfbfbf;
	background-color: #ededed;
	width: 96%;
	min-height: 245px;	
	margin: 10px auto;
	position: relative;
}
.m-packagePre{padding:5px;}
.m-packagePreBlurb{text-transform: none;font-size: 0.750em;margin: 10px 0; }
.m-packageImg{margin-top:5px;}
.m-packageFooter{
	position: relative;
	font-size: .800em;
	text-transform: uppercase;
	font-family:'champagne-reg', helvetica, arial, sans-serif;
	color: #CC6633;
	letter-spacing: .1em;
	width: 100%;
}

/* ==========================================================================
  	PACKAGES OVERVIEW
   ========================================================================== */
   
.m-packageLocation{text-transform: none;font-size: 0.750em;margin: 10px 0;font-style: italic;}
.m-packageOverview{text-transform: none;font-size: 0.750em;margin: 10px 0;}
.m-packageInc li{text-transform: none;font-size: 0.750em;padding: 2px 2px;}
.m-packageInc{margin-bottom: 10px;}
.m-overviewTitle{
	position: relative;
	font-size: .800em;
	text-transform: uppercase;
	font-family:'champagne-reg', helvetica, arial, sans-serif;
	color: #3e3e3e;
	letter-spacing: .1em;
	margin: 10px 0;	
}

   

/* ==========================================================================
  	FOOTER
   ========================================================================== */

.m-FooterCon{
	border-top: 4px solid #CBD48B;
	background-color: #ededed;
	width: 100%;
	height: 60px;	
	margin-top: 10px;
	position: relative;
}
.copy{
	text-transform: uppercase;
	letter-spacing: .2em;
	width: 130px;
	margin-top: 15px;
}
#toTop{
	background: url("../i/backToTop.svg") no-repeat;
	width: 37px;
	height: 37px;
	margin-top:3px;
}
.m-Footer{
	font-size: .750em;
	font-family:'champagne-reg', helvetica, arial, sans-serif;
	letter-spacing: .2em;	
	margin:10px;	
}









/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



/* ==========================================================================
   Jquery Mobile
   ========================================================================== */



.ui-bar-c {
	background: 			#eee /*{c-bar-background-color}*/;/*------------------------------------------------------------------------------------footer-*/
	color: 					#3e3e3e /*{c-bar-color}*/;
	font-weight: bold;
}

.ui-body-c,
.ui-overlay-c {
	border: 1px solid 		#aaa /*{c-body-border}*/;
	color: 					#333 /*{c-body-color}*/;
	background: 			#dbdbdb /*{c-body-background-color}*/;
}
.ui-overlay-c {
	background-image: none;
	border-width: 0;
}




/* loading screen */
.ui-loading .ui-loader { display: block; }
.ui-loader { display: none; z-index: 9999999; position: fixed; top: 50%; left: 50%; border:0; }
.ui-loader-default { background: none; filter: Alpha(Opacity=18); opacity: .18; width: 46px; height: 46px; margin-left: -23px; margin-top: -23px; }
.ui-loader-verbose { width: 200px; filter: Alpha(Opacity=88); opacity: .88; box-shadow: 0 1px 1px -1px #fff; height: auto; margin-left: -110px; margin-top: -43px; padding: 10px; }
.ui-loader-default h1 { font-size: 0; width: 0; height: 0; overflow: hidden; }
.ui-loader-verbose h1 { font-size: 16px; margin: 0; text-align: center; }
.ui-loader .ui-icon { background-color: #000; display: block; margin: 0; width: 44px; height: 44px; padding: 1px; -webkit-border-radius: 36px; border-radius: 36px; }
.ui-loader-verbose .ui-icon { margin: 0 auto 10px; filter: Alpha(Opacity=75); opacity: .75; }
.ui-loader-textonly { padding: 15px; margin-left: -115px; }
.ui-loader-textonly .ui-icon { display: none; }
.ui-loader-fakefix { position: absolute; }


body.ui-mobile-viewport { padding: 0; }
/* some unsets - more probably needed */
.ui-mobile, .ui-mobile body { height: 99.9%; }
.ui-mobile fieldset, .ui-page { padding: 0; margin: 0; }
.ui-mobile a img, .ui-mobile fieldset { border-width: 0; }
/* responsive page widths */
.ui-mobile-viewport { margin: 0; overflow-x: visible; -webkit-text-size-adjust: 100%; -ms-text-size-adjust:none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
/* Issue #2066 */
body.ui-mobile-viewport,
div.ui-mobile-viewport { overflow-x: hidden; }
/* "page" containers - full-screen views, one should always be in view post-pageload */
.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page { top: 0; left: 0; width: 100%; min-height: 100%; position: absolute; display: none; border: 0; }
.ui-mobile .ui-page-active { display: block; overflow: visible; }
/* on ios4, setting focus on the page element causes flashing during transitions when there is an outline, so we turn off outlines */
.ui-page { outline: none; }



/*orientations from js are available */
@media screen and (orientation: portrait){
.ui-mobile, .ui-mobile .ui-page { min-height: 420px; }
}
@media screen and (orientation: landscape){
.ui-mobile, .ui-mobile .ui-page { min-height: 300px; }
}


/* Header */
.ui-header .ui-title, .ui-footer .ui-title { 
height: 60px;

min-height: 1.1em; text-align: center; font-size: 16px; display: block; margin: .6em 30% .8em; padding: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important; }



/* fixed page header & footer configuration */
.ui-header-fixed,
.ui-footer-fixed {
	left: 0;
	right: 0;
	width: 100%;
	position: fixed;
	z-index: 1000;
}
.ui-header-fixed {
	top: -1px;
	padding-top: 1px;
}
.ui-header-fixed.ui-fixed-hidden {
	top: 0;
	padding-top: 0;
}
.ui-footer-fixed {
	bottom: -1px;
	padding-bottom: 1px;
}
.ui-footer-fixed.ui-fixed-hidden {
	bottom: 0;
	padding-bottom: 0;
}
.ui-header-fullscreen,
.ui-footer-fullscreen {
	filter: Alpha(Opacity=90);
	opacity: .9;
}
.ui-page-header-fixed {
	padding-top: 2.6875em;
}
.ui-page-footer-fixed {
	padding-bottom: 2.6875em;
}
.ui-page-header-fullscreen > .ui-content,
.ui-page-footer-fullscreen > .ui-content {
	padding: 0;
}
.ui-fixed-hidden {
	position: absolute;
}
.ui-page-header-fullscreen .ui-fixed-hidden,
.ui-page-footer-fullscreen .ui-fixed-hidden {
	left: -9999px;
}
.ui-header-fixed .ui-btn,
.ui-footer-fixed .ui-btn { 
	z-index: 10;
}

/* panel */
.ui-panel {
	width: 17em;
	min-height: 100%;
	border-width: 0;
	position: absolute;
	top: 0;
	display: block;
	background-color:#ededed ;
}


.ui-panel-closed {
	width: 0;
	overflow: hidden;
}
.ui-panel-fixed {
	position: fixed;
	bottom: -1px; /* fixes gap on Chrome for Android */
	padding-bottom: 1px;
}
.ui-panel-display-overlay {
	z-index: 1001; /* fixed toolbars have z-index 1000 */
}
.ui-panel-display-reveal {
	z-index: 0;
}

.ui-panel-inner {
	padding: 15px;
}
/* content-wrap */
.ui-panel-content-wrap {
	position: relative;
	left: 0;
	min-height: inherit;
	border: none;
	z-index: 999;
}
.ui-panel-content-wrap-display-overlay,
.ui-panel-animate.ui-panel-content-wrap > .ui-header, /* ios4 fix */
.ui-panel-content-wrap-closed {
	position: static;
}
/* dismiss */
.ui-panel-dismiss {
	position: absolute;
	top: 0;
	left:0;
	height: 100%;
	width: 100%;
	z-index: 1002;
	display: none;
}
.ui-panel-dismiss-open {
	display: block;
}
/* animate class is added to panel, wrapper and fixed toolbars */
.ui-panel-animate {
	-webkit-transition: -webkit-transform 350ms ease;
	-moz-transition: -moz-transform 350ms ease;
	transition: transform 350ms ease;
}
/* hardware acceleration for smoother transitions */
.ui-panel-animate.ui-panel:not(.ui-panel-display-reveal),
.ui-panel-animate.ui-panel:not(.ui-panel-display-reveal) > div,
.ui-panel-animate.ui-panel-content-wrap,
.ui-panel-animate.ui-panel-content-fixed-toolbar {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
}



/* panel right */
.ui-panel-position-right {
	right: -17em;
}




/* panel right open */
.ui-panel-position-right.ui-panel-display-reveal,  /* negate "panel right" for reveal */
.ui-panel-position-right.ui-panel-open {
	right: 0;
}


/* panel right open */
.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open,
.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-right.ui-panel-dismiss-open {
	left: -17em;
	right: 17em;
}
/* animated: panel right open (for reveal and push) */
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal, 
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
.ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal, 
.ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
	left: 0;
	right: 0;
	-webkit-transform: translate3d(-17em,0,0);
	-moz-transform: translate3d(-17em,0,0);
	transform: translate3d(-17em,0,0);
}
/* negate "panel left/right open" for overlay */
.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-overlay,
.ui-panel-content-wrap-open.ui-panel-content-wrap-display-overlay {
	left: 0;
}
/* always disable overflow-x to prevent zoom issue on Android */
.ui-page-active.ui-page-panel {
	overflow-x: hidden;
}
/* shadows and borders */
.ui-panel-display-reveal {
	-webkit-box-shadow: inset -5px 0 5px rgba(0,0,0,.15);
	-moz-box-shadow: inset -5px 0 5px rgba(0,0,0,.15);
	box-shadow: inset -5px 0 5px rgba(0,0,0,.15);
}
.ui-panel-position-right.ui-panel-display-reveal {
	    -webkit-box-shadow: inset 10px 0px 45px -25px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 10px 0px 45px -25px rgba(0, 0, 0, 1);
    -o-box-shadow: inset 10px 0px 45px -25px rgba(0, 0, 0, 1);
    -ms-box-shadow: inset 10px 0px 45px -25px rgba(0, 0, 0, 1);        
    box-shadow: inset 10px 0px 45px -25px rgba(0, 0, 0, 1);
}


.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push {
	margin-left: 1px;
}
.ui-panel-display-push.ui-panel-open.ui-panel-position-right {
	border-left-width: 1px;
	margin-left: -1px;
}
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push {
	margin-right: 1px;
}
/* wrap on wide viewports once open */
/*
@media (min-width:55em){
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-left,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-left,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-left,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-left {
		margin-right: 17em;
	}
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
		margin-left: 17em;
	}
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal {
		width: auto;	
	}
	.ui-responsive-panel .ui-panel-dismiss-display-push {
		display: none;
	}	
}
*/



.type-home .ui-content .jqm-version {
	display: block;
	position: absolute;
	width: 96px;
	border: solid #fff;
	border-width: 2px 1px;
	padding: .25em 2.25em;
	margin: 0 15px 0 0;
	right: 0;
	top: -2px;
	background: #f7cf57;
	color: #000;
	font-size: .8em;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
	z-index: 9;
	-webkit-transform: rotate(45deg) translate(4.8em,-1em);
	-moz-transform: rotate(45deg) translate(4.8em,-1em);
	-ms-transform: rotate(45deg) translate(4.8em,-1em);
	-o-transform: rotate(45deg) translate(4.8em,-1em);
	transform: rotate(45deg) translate(4.8em,-1em);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.40);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.40);
	-o-box-shadow: 0 0 6px rgba(0,0,0,.40);
	box-shadow: 0 0 6px rgba(0,0,0,.40);
}
.type-home .ui-content .jqm-version b {
	color: #a21412;
	font-weight: bold;
}

.footer-docs {
	padding: 5px 0;
	clear:both;
	color:#666;
}
.footer-docs p {
	font-weight: normal;
	font-size: .9em;
}
.ui-mobile-viewport .footer-docs p {
	margin: .5em 15px;	
}
.ui-mobile-viewport .footer-docs p.jqm-version {
	font-weight: bold;
}
@media all and (min-width:650px) {
	.ui-mobile-viewport .footer-docs {
		overflow: hidden;		
	}
	.ui-mobile-viewport .footer-docs p {
		margin: 1em 15px;
		float: left;		
	}
	.ui-mobile-viewport .footer-docs p.jqm-version {
		float: right;
		font-weight: normal;
	}
}

#jqm-homeheader img { width: 275px; height: 78px; margin-top:-20px; }
img { max-width: 100%; }

/* fluid images moved from jquery.mobile.core.css*/
.ui-mobile img {
	max-width: 100%;
}

.ui-header .jqm-home { top: 0; }
nav { margin: 0; }

/*
p.intro {
	font-size: .96em;
	line-height: 1.3;
	border-top: 1px solid #75ae18;
	border-bottom: 0;
	background: none;
	margin: 1.5em 0;
	padding: 1.5em 15px 0;
}
p.intro strong {
	color:  #558e08;
}
*/

.type-interior .content-secondary {
	border-right: 0;
	border-left: 0;
	margin: 10px -15px 0;
	background: #fff;
	border-top: 1px solid #ccc;
}
.type-home .ui-content {
	margin-top: 5px;
	overflow: hidden;
	position: relative;
}
.type-interior .ui-content {
	padding-bottom: 0;
}
.content-secondary .ui-collapsible {
	padding: 10px 15px;
}
.content-secondary .ui-collapsible-inset {
	margin: 0;
}
.content-secondary .ui-collapsible-content {
	padding: 0;
	background: none;
}
.content-secondary .ui-listview {
	margin: 0;
}
/* new API additions */

dt {  
	margin: 35px 0 15px 0; 
	background-color:#ddd; 
	font-weight:normal;
}
dt code { 
	display:inline-block; 
	font-weight:bold;
	color:#56A00E; 
	padding:3px 7px; 
	margin-right:10px; 
	background-color:#fff; 
}
dd { 
	margin-bottom:10px; 
}
dd .default { font-weight:bold; }
dd pre { 
	margin:0 0 0 0; 
}
dd code { font-weight: normal; }
dd pre code { 
	margin:0; 
	border:none; 
	font-weight:normal; 
	font-size:100%; 
	background-color:transparent; 
}
dd h4 { margin:15px 0 0 0; }
		
.localnav {
	margin:0 0 20px 0;
}
.ui-mobile-viewport .localnav li {
	float:left;
}
.localnav .ui-btn-inner { 
	padding: .6em 10px; 
	font-size:80%; 
}

/* custom dialog for the photos sharing */
.ui-dialog.dialog-actionsheet .ui-dialog-contain {
	margin-top: 0;
}

/* popup examples */
.type-interior .ui-popup-container .ui-content { padding: 15px !important; }



/* ==========================================================================
   Slider css
   ========================================================================== */


/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}


.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}
.flexslider { -webkit-backface-visibility: hidden; position: relative;}

.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}
